*{
    font-family: sans-serif;
}

h1{
    text-indent: 100px;
}

.blue {
    color: rgb(21, 21, 255);
    background-color:rgb(178, 178, 221)
}

.seagreen{

color: rgb(92, 190, 92);
background-color:rgb(219, 243, 219);

}

.red{

    color: red;
    background-color: rgb(221, 163, 163);

}

.purple{

color:rgb(129, 43, 226);
background-color:rgb(176, 154, 226);

}

.gray{
    
color: gray;
background-color: #b4acac;

}

.lightbrown{

color: rgb(192, 134, 59);
background-color: #ffe5ad

}

.brown{

color: rgb(180, 64, 64);
background-color: #fc905e;

};